apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gitlabrunner-claim
  namespace: default
spec:
  storageClassName: {{storageclass_name}}
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
status:
  accessModes:
  - ReadWriteMany
  capacity:
    storage: 10Gi