apiVersion: v1
kind: ConfigMap
metadata:
  name: globa-vars
data:
    lb_ip: {{ hostvars['localhost']['lb_ip'] }}
    img_reg_token: {{ img_reg_token }}
    docker_reg_token: {{ docker_reg_token }}
---